body{
	display: inline-block;
	padding: 40px;
	}
.display-inline-block{
	display: inline-block;
}
.divaider{
	border: 5px; 
	border-style: solid;
	border-color:  #006837;
	padding: 30px;
	background-color: #22B573;
}
.navigation{
	float: right;
}
.logo{
	height: 100px;
	vertical-align: top;
	float: right;
}
.clear{
	clear: both;
}
.navigation-a{
	color: #FFFFFF;
	font-size: 36px;
	margin-right: 45px;
}
.container{
	margin-top: 100px;
	padding: 10px;
}
.box1{
	background-color: #FCEE21;
	padding: 23px;
	float: left;
	margin-right: 20px;
}
.box2{
	background-color: #FCEE21;
	padding: 23px;
	float: right;
}
.p1{
	width: 390px;
	float: left;
}
.p2{
	width: 380px;
}
.banner{
	width: 150px;
}
.icon{
	width: 150px;
}
.block1{
	float: right;
	vertical-align: top;
}
.block3{
	vertical-align: bottom;
}
.p12{
	margin-top: 10px;
}