.main-container{
	padding: 40px;
	}
.float{
	margin-left: 600px;
}
.display-inline-block{
	display: inline-block;
}
.divaider{
	border: 5px; 
	border-style: solid;
	border-color:  #006837;
	padding: 30px;
	background-color: #22B573;
}
.navigation{
	float: right;
}
.logo{
	height: 100px;
	vertical-align: top;
	float: right;
}
.clear{
	clear: both;
}
.navigation-a{
	color: #FFFFFF;
	font-size: 36px;
	margin-right: 45px;
    font-family: 'Nunito Sans', sans-serif;
}
.container{
	margin-top: 100px;
	padding: 10px;
}
.box1{
	background-color: #FCEE21;
	padding: 23px;
	float: left;
	margin-right: 20px;
	height: 300px;
	width: 617px;
}
.box2{
	background-color: #FCEE21;
	padding: 23px;
	float: right;
	height: 300px;
	/*width: 300px;*/
}
.p1{
	width: 390px;
	float: left;
}
.p2{
	width: 380px;
	color: #006837;
}
.p3{
	margin-top: 20px;
}
.p4{
	width: 500px;
}
.banner{
	width: 150px;
}
.icon{
	width: 150px;
}
.block1{
	float: right;
	vertical-align: top;
	margin-left: 15px;
}
.block3{
	vertical-align: top;
	margin-right: 15px;
}
.p12{
	margin-top: 30px;
}
.p4{
	color: #006837;
}
p{
	font-family: 'Nunito Sans', sans-serif;
}